.rti--container {
    --rti-bg: "#fff" !important;
    --rti-border: "#2b303a" !important;
    --rti-main: "#2b303a" !important;
    --rti-radius: "0.375rem" !important;
    --rti-s: "0.5rem" !important;
    --rti-tag: "#2b303a" !important;
    --rti-width: 100% !important;
    --rti-tag-remove: "#2b303a" !important;
  }
  
  .rti--input {
      width: 100% !important;
      background-color: #2b303a;
      border: solid !important;
      color: #eee5e9 !important;
      border-width: 1px !important;
      border-color: #6b7280 !important;
      border-radius: 0.375rem !important;
      height: 32px;
  }
  
  .rti--tag{
      color: #eee5e9;
  }
  