.tablerow{
    width: 100%;
    position: relative;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom-width: 1px;
    padding-top: 0.75rem/* 12px */;
    padding-bottom: 0.75rem/* 12px */;
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
    border-style: none;
    border-top-left-radius: 0.5rem/* 8px */;
    border-top-right-radius: 0.5rem/* 8px */;
    border-bottom-left-radius: 0.5rem/* 8px */;
    border-bottom-right-radius: 0.5rem/* 8px */;
}

.tablerowbutton{
    position: relative;
    display: table-cell;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    display: table-cell;
    border-radius: 4em;
    font-size: 16px;
    cursor:pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
  }
.tablerowbutton:hover {
    transition-duration: 0.1s;
    background-color: #9a9a9a;
}

.tablerowbutton:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
}

.tablerowbutton:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
}

.tablerowbutton:active {
    top: 1px;
}
  
