.info-box{
    width: fit-content;
    float: right;
    block-size: fit-content;
}

.steps-box{
    margin: 0px 10px 10px 0px;
    width: auto;
    padding-right: 15px
}

.info-table {
    border: 1px solid;
}

.error {
    margin-top: 50%;
    text-align: center;
}
