.ingredient-tooltip{
    display: flex;
    position: relative;
    /* display: inline-block; */
}

.ingredient-tooltip .ingredient-tooltip-text{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    overflow: visible;
    top: -5px;
    right: 105%; 
}

.ingredient-tooltip:hover .ingredient-tooltip-text{
    transition-delay: 500ms;
    visibility: visible;
}
