#container {
    position: absolute;
    left: 45%;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background: #272727;
  }
  .circle1 {
    position: relative;
    top: 0px;
    width: 0px;
    height: 0px;
    border-right: 60px solid transparent;
    border-top: 60px solid #1ba7f2;
    border-left: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    -moz-transform:rotate(320deg);
    -webkit-transform:rotate(320deg);
    -o-transform:rotate(320deg);
    -ms-transform:rotate(320deg);
    animation: spin1 0.5s infinite linear;
    -webkit-animation: spin1 0.5s infinite linear;
    
  }
  .circle2 {
    position: absolute;
    top: 0px;
    width: 0px;
    height: 0px;
    border-right: 60px solid transparent;
    border-top: 60px solid #1ba7f2;
    border-left: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    -moz-transform:rotate(80deg);
    -webkit-transform:rotate(80deg);
    -o-transform:rotate(80deg);
    -ms-transform:rotate(80deg);
    animation: spin2 0.5s infinite linear;
    -webkit-animation: spin2 0.5s infinite linear;
  }
  .circle3 {
    position: absolute;
    top: 0px;
    width: 0px;
    height: 0px;
    border-right: 60px solid transparent;
    border-top: 60px solid #1ba7f2;
    border-left: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    -moz-transform:rotate(200deg);
    -webkit-transform:rotate(200deg);
    -o-transform:rotate(200deg);
    -ms-transform:rotate(200deg);
    animation: spin3 0.5s infinite linear;
    -webkit-animation: spin3 0.5s infinite linear;
  }
  /* animations */
  
  @keyframes spin1 {
    0% {
    -moz-transform:rotate(320deg);
    -webkit-transform:rotate(320deg);
    -o-transform:rotate(320deg);
    -ms-transform:rotate(320deg);
    }
    100% {
    -moz-transform:rotate(680deg);
    -webkit-transform:rotate(680deg);
    -o-transform:rotate(680deg);
    -ms-transform:rotate(680deg); 
    }
  }
  @-webkit-keyframes spin1 {
    0% {
    -moz-transform:rotate(320deg);
    -webkit-transform:rotate(320deg);
    -o-transform:rotate(320deg);
    -ms-transform:rotate(320deg);
    }
    100% {
    -moz-transform:rotate(680deg);
    -webkit-transform:rotate(680deg);
    -o-transform:rotate(680deg);
    -ms-transform:rotate(680deg); 
    }
  }
  @keyframes spin2 {
    0% {
    -moz-transform:rotate(80deg);
    -webkit-transform:rotate(80deg);
    -o-transform:rotate(80deg);
    -ms-transform:rotate(80deg);
    }
    100% {
    -moz-transform:rotate(440deg);
    -webkit-transform:rotate(440deg);
    -o-transform:rotate(440deg);
    -ms-transform:rotate(440deg); 
    }
  }
  @-webkit-keyframes spin2 {
    0% {
    -moz-transform:rotate(80deg);
    -webkit-transform:rotate(80deg);
    -o-transform:rotate(80deg);
    -ms-transform:rotate(80deg);
    }
    100% {
    -moz-transform:rotate(440deg);
    -webkit-transform:rotate(440deg);
    -o-transform:rotate(440deg);
    -ms-transform:rotate(440deg); 
    }
  }
  @keyframes spin3 {
    0% {
    -moz-transform:rotate(200deg);
    -webkit-transform:rotate(200deg);
    -o-transform:rotate(200deg);
    -ms-transform:rotate(200deg);
    }
    100% {
    -moz-transform:rotate(560deg);
    -webkit-transform:rotate(560deg);
    -o-transform:rotate(560deg);
    -ms-transform:rotate(560deg); 
    }
  }
  @-webkit-keyframes spin3 {
    0% {
    -moz-transform:rotate(200deg);
    -webkit-transform:rotate(200deg);
    -o-transform:rotate(200deg);
    -ms-transform:rotate(200deg);
    }
    100% {
    -moz-transform:rotate(560deg);
    -webkit-transform:rotate(560deg);
    -o-transform:rotate(560deg);
    -ms-transform:rotate(560deg); 
    }
  }
